// Palette principale
$color-primary: #145DA0;   // Couleur principale (bleu foncé)
$color-secondary: #0C2D48; // Couleur secondaire (bleu nuit)
$color-accent: #2E8BC0;    // Accent (bleu clair)
$color-light: #B1D4E0;     // Couleur claire (bleu pastel)